<div class="container py-5">
    <h2 class="fw-bold text-center mb-5">Frequently Asked Questions</h2>

    <mat-accordion class="faq-section">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              What is the return policy?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            We accept returns within 30 days of purchase. Items must be unworn, unwashed, and with all original tags and packaging.
          </p>
        </mat-expansion-panel>
      
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              How can I track my order?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            You will receive an email with a tracking number once your order has been shipped. You can also check your order status on our website by logging in to your account.
          </p>
        </mat-expansion-panel>
      
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Do you offer international shipping?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            Yes, we offer international shipping. Please note that there may be additional fees for customs and duties.
          </p>
        </mat-expansion-panel>
      
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Can I cancel or change my order?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            We process orders quickly, but you can try contacting us to see if changes can be made before your order ships.
          </p>
        </mat-expansion-panel>
      
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              How do I contact customer service?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            You can email us at customerservice@vestirium.com or call us at 1-800-555-5555. Our customer service hours are Monday to Friday, 9am to 5pm EST.
          </p>
        </mat-expansion-panel>
      </mat-accordion>
      
      
</div>