<section id="about" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="../../assets/images/bn2.jpg" alt="About Us" class="img-fluid">
      </div>
      <div class="col-md-6">
        <h2>About Us</h2>
        <p>Vestirium is a clothing house dedicated to providing you with the latest and most fashionable clothing items in the market. Our products are made from the highest quality materials and are designed to help you express your unique sense of style.</p>
        <p>Our team of experienced designers works tirelessly to bring you the latest and most innovative fashion designs. We understand that fashion is constantly evolving, and we pride ourselves on staying ahead of the curve. From trendy streetwear to classic suits, we have something for everyone.</p>
        <p>We also believe in providing exceptional customer service. We understand that shopping online can sometimes be a daunting experience, which is why we have a team of dedicated customer service representatives ready to assist you with any queries you may have. We are committed to ensuring that our customers are completely satisfied with their shopping experience.</p>
      </div>
    </div>
  </div>
</section>
<!-- <div class="container company-history">
  <div class="row">
    <div class="col-lg-6">
      <h2>Our Company History</h2>
      <p>Vestirium was founded in 2010 by Jane Doe, a fashion enthusiast with a passion for quality clothing that blends style and comfort. Starting as a small boutique in downtown Seattle, the company quickly gained a reputation for its unique designs and high-quality materials.</p>
      <p>Over the years, Vestirium has grown into a full-fledged clothing brand with a loyal following of customers from around the world. Despite our growth, we remain committed to our founding principles of quality, comfort, and sustainability. We believe that fashion can be both beautiful and responsible, and we strive to make a positive impact on our planet and our community with every collection we release.</p>
      <p>Today, Vestirium is proud to offer a wide range of clothing for men, women, and children, all designed and crafted with care in our Seattle studio. We are grateful for our customers, partners, and team members who have supported us on this journey, and we look forward to many more years of creating clothing that you can feel good about wearing.</p>
    </div>
    <div class="col-lg-6">
      <img src="../../assets/images/bn3.jpg" alt="Company History">
    </div>
  </div>
  
</div> -->


<button id="button">Click me</button>
<mat-slide-toggle>Toggle me!</mat-slide-toggle>
<app-footer></app-footer>