<div class="container-fluid">
    <div class="row">
      <div class="row row-cols-1 row-cols-md-3 g-4 mx-2">
        <div class="card" *ngFor="let ticket of ticketsArray, let i = index">
          <div class="card-body">
            <h5 class="card-title">Ticket {{i + 1}}</h5>
            <p class="card-text">{{ticket.name}}</p>
            <p class="card-text">Email: {{ticket.email}}</p>
            <p class="card-text">Message: {{ticket.message}}.</p>
            <p class="card-text">Category: {{ticket.subject}}</p>
            <p class="card-text">Order Number: {{ticket.orderNumber}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>