<header>
    <div class="navbar bg-primary shadow-sm">
        <div class="navbar-brand align-item-center d-flex">
            <i class="fas fa-shipping-fast" id="logo-main">

            </i>
            <strong id =  "logo-text">Vestirium</strong>
            <div class="form-group">
                <input type="text" class="form-control" id="" placeholder="search products....">
            </div>
            <span class="fas fa-search search-icon"></span>
        </div>
        <button class="btn btn-primary">
            <i class="fas fa-cart-plus" id = "cart-logo"></i>
            <div class="badge bg-danger" id ="cart-badge">5</div>
        </button>
    </div>
</header>