img{
    max-height: 400px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.card{
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
}
.price-nav {
    display: flex;

  }
.row{
  display: flex;
}
#side{
  padding-top: 40%;

}
#sidenav{
  border-radius: 25%;
}
a{
  color: black;
  text-decoration: none;
}
.card-title{
  font-size: 20px !important;
}
.rd{
    border-radius: 25px;
    box-shadow: 9px -12px 12px -1px rgba(0,0,0,1);
    /* border: 1px solid gold; */
}