img{
    max-height: 400px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    transform: scale(0.9);
}
img:hover{
    transform: scale(1.0);
}
.card{
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    overflow: hidden;
}
.container {
    margin-top: 50px;
  }
  
  /* .btn {
    font-size: 16px;
    border-radius: 0;
    padding: 10px 20px;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
  }
  
  .btn-primary:focus, .btn-primary.focus {
    box-shadow: none;
  }
  
  .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active {
    background-color: #0062cc;
    border-color: #005cbf;
  }
  
  .btn-primary.disabled, .btn-primary:disabled {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:disabled:hover {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus {
    box-shadow: none;
  } */
 
  /* #all{
    border-bottom: 2px solid grey;
    border-top: 1px solid blue;
  } */
  .price-nav {
    display: flex;

  }
.row{
  display: flex;
}
#side{
  padding-top: 40%;

}
#sidenav{
  border-radius: 25%;
}
a{
  color: black;
  text-decoration: none;
}
.card-title{
  font-size: 20px !important;
}
/* input{
    width: 50%;
   margin-left: 280px;
   border-radius: 5px;
} */
#search{
    background-color: brown;
    color: white;
}
