


<div class="container-fluid">
  <div class="row">
    
    <div class="col-md-3" id="sidenav">
      <!-- <button>Toggle</button> -->
    
      <div class="container mt-5" id = "side">
        <div class="row ">
          <div class="col-md-12">
            <div class="d-grid gap-2 d-md-block">
              <h4>Sort By Price </h4>
              <hr>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="brandtag" value="" id="flexCheckDefault" (click)="sortMensSuitLow()">
                <label class="form-check-label" for="flexCheckDefault">
                  Low To High
                </label>
              </div>
              
              <div class="form-check">
                <input class="form-check-input" type="radio" name="brandtag" value="" id="flexCheckDefault" (click)="sortMensSuitHigh()">
                <label class="form-check-label" for="flexCheckDefault">
                  High To Low
                </label>
              </div>
              <br>
              <h4>Sort By Brand </h4>
              <hr>
              <div class="form-check" id = "all">
                <input class="form-check-input" type="radio" name="brandtag" value="" id="flexCheckDefaultmmaka" (click)="sortByBrand('gucci')">
                <label class="form-check-label" for="flexCheckDefaultmmaka">
                  All
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="brandtag" value="" id="flexCheckDefault" (click)="sortByBrand('gucci')">
                <label class="form-check-label" for="flexCheckDefault">
                  Gucci
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="brandtag" value="" id="flexCheckDefault2" (click)="sortByBrand('blackberry')">
                <label class="form-check-label" for="flexCheckDefault2">
                  BlackBerry
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="brandtag" value="" id="flexCheckDefault3" (click)="sortByBrand('van')">
                <label class="form-check-label" for="flexCheckDefault3">
                  Van Heusen
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="brandtag" value="" id="flexCheckDefault4" (click)="sortByBrand('raymond')">
                <label class="form-check-label" for="flexCheckDefault4">
                  Raymond
                </label>
              </div>
              <br>
              <h4>Sort By Rating </h4>
              <hr>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="brandtag" value="" id="flexCheckRating" (click)="sortByRating('⭐⭐⭐⭐⭐')">
                <label class="form-check-label" for="flexCheckDefault4">
                  ⭐⭐⭐⭐⭐
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="brandtag" value="" id="flexCheckRating1" (click)="sortByRating('⭐⭐⭐⭐')">
                <label class="form-check-label" for="flexCheckRating1">
                  ⭐⭐⭐⭐
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="brandtag" value="" id="flexCheckRating2" (click)="sortByRating('⭐⭐⭐')">
                <label class="form-check-label" for="flexCheckRating2">
                  ⭐⭐⭐
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="brandtag" value="" id="flexCheckRating3" (click)="sortByRating('⭐⭐')">
                <label class="form-check-label" for="flexCheckRating3">
                  ⭐⭐
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="brandtag" value="" id="flexCheckRating4" (click)="sortByRating('⭐')">
                <label class="form-check-label" for="flexCheckRating4">
                  ⭐
                </label>
              </div>
              <br>
              
              <h4>Sort By Availablity </h4>
              <hr>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="brandtag" value="" id="flexCheckAvail" (click)="sortByAvailablity(true)">
                <label class="form-check-label" for="flexCheckRating4">
                  In Stock
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="brandtag" value="" id="flexCheckAvail1" (click)="sortByAvailablity(false)">
                <label class="form-check-label" for="flexCheckRating4">
                  Out Of Stock
                </label>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- <div class="col-md-9">
      <section class="py-5 bg-light">
        <div class="container">
          <h2 class="text-center mb-5">Men's Suits</h2>
          <div class="row">
            <div class="col-md-4" *ngFor="let suit of filteredData">
              <div class="card mb-4 shadow-sm">
                <img src={{suit.image}} class="card-img-top" alt="Product 1">
                <div class="card-body">
                  <h5 class="card-title">{{suit.title}}</h5>
                  <p class="card-text">{{suit.description}} </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <small class="text-muted">{{suit.rating}}</small>
                    <small class="text-muted">{{suit.price}}</small>
                  </div>
                  <div class="mt-3">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Buy Now</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div> -->
    <div class="col-md-9 py-5">
      <h2 class="text-center mb-5">Men's Suits</h2>
      <div class="row">
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <ng-container *ngFor="let card of filteredData">
            <div class="col " >
              <mat-card class="rd">
                <a routerLink="/details/{{card.id}}">
                  <img src={{card.image}} class="card-img-top" alt="Product 1">
                </a>
                <mat-card-header>
                  <mat-card-title>{{ card.title }}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  {{ card.description }}
                  <div class="d-flex justify-content-between align-items-center">
                    <small class="text-muted">{{card.rating}}</small>
                    <small class="text-muted">{{card.price | currency:'USD'}}</small>
                  </div>
                  <div class="mt-3 d-flex justify-content-between align-items-center">
                    <button type="button" class="btn btn-sm btn-outline-secondary" routerLink="/details/{{card.id}}">Buy Now</button>
                    <button type="button" class="btn btn-sm btn-success ml-auto" (click)="addtocart(card)">Add to Cart</button>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
          </ng-container>
        </div>
      </div>
    </div>

  </div>
</div>
  <app-footer></app-footer>
  