.error{
    border: 1px solid red;
}
textarea{
    height: 100px;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
  }
  
  h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
    color: #333;
  }
  
  label {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
    font-size: 16px;
    color: #333;
  }
  
  input[type="submit"] {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  input[type="submit"]:hover {
    background-color: #218838;
  }
  
  .error {
    border-color: #dc3545 !important;
  }
  
  .text-danger {
    color: #dc3545;
    font-size: 14px;
    font-weight: bold;
  }
  
  @media only screen and (max-width: 767px) {
    label,
    input[type="text"],
    input[type="email"],
    textarea,
    input[type="submit"] {
      font-size: 16px;
    }
  
    h1 {
      font-size: 30px;
    }
  }
  .myform{
    background: linear-gradient(to bottom, #131921, #1b2839);
    color: white !important;
    margin-bottom: 20px;
  }
  .myform h1, .myform label{
    color: white;
  }
  #sub{
    color: white;
  }