
<section class="py-5 bg-light">
    <div class="container">
      <h2 class="text-center mb-5">Today's News</h2>
      <div class="row">
        <div class="col-md-4" *ngFor="let news of newsData">
          <div class="card mb-4 shadow-sm">
            <img src={{news.urlToImage}} class="card-img-top" alt="Product 1">
            <div class="card-body">
              <h5 class="card-title">{{news.title}}</h5>
              <p class="card-text">{{news.description}} </p>
              <h5 class="card-title">{{news.author}}</h5>
              <div class="mt-3">
                <button type="button" class="btn btn-sm btn-outline-secondary bg-primary text-light">Read More</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  
  