<div class="comments">
    <div class="comment">
      <img class="image" src="../../assets/images/user.png" alt="User Image">
      <div class="details">
        <div class="name">John Doe</div>
        <div class="email">john@example.com</div>
        <div class="order-number">Order: #123456</div>
        <div class="subject">Subject: Sales</div>
        <div class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae magna eget odio gravida malesuada vel non velit.</div>
      </div>
    </div>