<footer class="bg-dark text-white py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h4>About Us</h4>
          <p>Vestirium is a clothing house dedicated to providing stylish and comfortable clothing for men and women.</p>
        </div>
        <div class="col-md-4">
          <h4>Contact Us</h4>
          <p>123 Main Street<br> New York, NY 10001<br> Phone: (123) 456-7890<br> Email: info@vestirium.com</p>
        </div>
        <div class="col-md-4">
          <h4>Follow Us</h4>
          <ul class="list-inline">
            <li class="list-inline-item"><a href="#"><img src="../../assets/images/fb.png" alt="Facebook"></a></li>
            <li class="list-inline-item"><a href="#"><img src="../../assets/images/twiiter.png" alt="Twitter"></a></li>
            <li class="list-inline-item"><a href="#"><img src="../../assets/images/insta.png" alt="Instagram"></a></li>
            <li class="list-inline-item"><a href="#"><img src="../../assets/images/pintrest.png" alt="Pinterest"></a></li>
          </ul>
        </div>
      </div>
      <hr>
      <div class="text-center">
        <p>&copy; 2023 Vestirium. All rights reserved.</p>
      </div>
    </div>
  </footer>
  