/* img{
    max-height: 400px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    transform: scale(0.9);
}
img:hover{
    transform: scale(1.0);
}
.card{
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    overflow: hidden;
} */
/* ---------------------------------------------------------------- */
.card{
    height: 55vh;
    margin: 25px;
    padding: 25px;
}
.center img{
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
    height: 162px;
    width: 250px;
    margin: 20px 0px;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
h4,h6{
    font-weight: 400;
}
.card-table{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: none;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem;
}
.center .btn{
    font-size: 14px !important;
    margin-top: 20px !important;
    font-weight: 400;
    padding: 12px 72px;
    border-radius: 3px !important;
}